/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--color-primary: #0d4663;
	--color-secondary: #135492;
	--color-accent: #ff9a88;

	--color-black: #111;
	--color-white: #f5f5f5;

	--font-sans: "Inter";

	--nav-height: 64px;
}

body {
	font-family: var(--font-sans), serif;
	height: 100vh; /* กำหนดความสูงให้เต็ม Viewport */
    margin: 0;
}
.main-screen-container {
    /* 2. ทำให้ Container หลักเต็มพื้นที่ความสูงของ Body */
    height: 100%;
    width: 100%; 
    background-color: salmon; /* สีพื้นหลังที่เห็น */
    
    /* 3. เปิดใช้งาน Flexbox */
    display: flex; 
    justify-content: center; 
    align-items: center; 

}


/* 1. สไตล์ของการ์ด (ขอบขาว) */
.card-border {
	
    width: 400px;
    height: 800px;
    background-color: white; /* พื้นที่สีขาว */
    padding: 50px; /* ขอบขาวหนา 10px */
    position: relative; 
	
}

/* 2. สไตล์ของ Image Wrapper (สำหรับ Overlay) */
.image-wrapper {
    width: 300px; 
    height: 500px;
    position: relative; /* สำคัญ: เป็น Base ให้ ::after จัดตำแหน่ง */
    overflow: hidden;
	display:flex;
	
}

.image-wrapper img {
    width: 300px;
    height: 500px; 
    object-fit: cover;
	display:block;
   
}

/* 3. สร้างม่านสีดำบน Image Wrapper */
.image-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px; 
    height: 500px;
    
    /* ม่านสีดำทึบ 80% */
    background-color: rgba(0, 0, 0, 9); 
    transition: background-color 0.5s ease-in-out;
    z-index: 2; 
}

/* 4. เมื่อ Hover ให้ม่านสีดำหายไป (Hover บน Card Border ก็ได้) */
.card-border:hover .image-wrapper::after {
    background-color: rgba(0, 0, 0, 0); /* เปลี่ยนเป็นโปร่งใส */
}

.title{
	display: flex;
	color: var(--color-secondary);
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

.msg{
	display: flex;
	color: var(--color-secondary);
	align-items: center;
	justify-content: center;
	margin-top: 15px;
}

    button{
    width: 100%;
	color: #371174;
    padding: 8px;
    margin-top: 15px;
    font-size: 1em;
    cursor: pointer;
    border:none;
    background: #ffe3e9;
    border-radius: 4px;
    }



button:hover{
    cursor: pointer;
    scale: 1.02; /*hover แล้วปุ่มขยาย*/
    background: linear-gradient(315deg, #9ab5e1 0%, #f39fdc 74%);
}

button:active{
    color:whitesmoke;
}